*{
    margin: 0;
    padding: 0;
}

.font-work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}
#banner .title{
    text-align: right;
    font-weight: 700;
font-size: 65px;
color: #151414;
}
#banner{
    margin: 216px 230px 166px 845px;
}
#banner .info{
    color: #444343;
    line-height: 26px;
    font-size: 16px;
    text-align: right;
    margin: 24px 0 0 35px;
}
#banner .btn{
    margin: 32px 0 0 334px;
    text-align: right;
    margin: 20px 20px;
    background-color: #F15B22;
    color: #FFFFFF;
}
