 *{
    margin: 0;
    padding: 0;
} 

.font-work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}
 #banner .title{
    text-align: right;
    font-weight: 700;
font-size: 65px;
color: #151414;
}
#banner{
    margin: 216px 230px 166px 845px;
}
#banner .info{
    color: #444343;
    line-height: 26px;
    font-size: 16px;
    text-align: right;
    margin: 24px 0 0 35px;
}
#banner .btn{

border-radius: 5px;
padding: 0;
font-size: 20px;
font-weight: 600;
text-align: right;
background-color: #F15B22;
color: #FFFFFF;
 padding: 25px;
 margin: 32px 0 0 334px;
 padding: 21px 25px ; 
}
body {
    background-image: url("../images/banner/banner1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
     margin: 0;
   
}

